USE [MoversPackers]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 13-02-2025 20:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SourceAddressID] [int] NOT NULL,
	[DestinationAddressID] [int] NOT NULL,
	[PickupDate] [date] NOT NULL,
	[PickupTimeSlotID] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[BookingAmountPaid] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingItem]    Script Date: 13-02-2025 20:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingItem](
	[BookingItemID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distance_Range]    Script Date: 13-02-2025 20:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distance_Range](
	[Distance_ID] [int] IDENTITY(1,1) NOT NULL,
	[Distance_Range] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Distance_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistanceCFT]    Script Date: 13-02-2025 20:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistanceCFT](
	[DistanceRange] [varchar](50) NULL,
	[CFT_100_149] [int] NULL,
	[CFT_150_199] [int] NULL,
	[CFT_200_249] [int] NULL,
	[CFT_250_299] [int] NULL,
	[CFT_300_349] [int] NULL,
	[CFT_350_399] [int] NULL,
	[CFT_400_499] [int] NULL,
	[CFT_500_549] [int] NULL,
	[CFT_550_599] [int] NULL,
	[CFT_600_649] [int] NULL,
	[CFT_650_699] [int] NULL,
	[CFT_700_749] [int] NULL,
	[CFT_750_799] [int] NULL,
	[CFT_800_849] [int] NULL,
	[CFT_850_899] [int] NULL,
	[CFT_900_949] [int] NULL,
	[CFT_950_999] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryItem]    Script Date: 13-02-2025 20:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryItem](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Quantity] [int] NULL,
	[SizeCFT] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackingOption]    Script Date: 13-02-2025 20:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackingOption](
	[OptionID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rates]    Script Date: 13-02-2025 20:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rates](
	[Rate_ID] [int] IDENTITY(1,1) NOT NULL,
	[CFT_ID] [int] NULL,
	[Distance_ID] [int] NULL,
	[Freight_Rate] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Rate_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 13-02-2025 20:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[SlotID] [int] IDENTITY(1,1) NOT NULL,
	[SlotTime] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13-02-2025 20:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[AddressID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([BookingID], [UserID], [SourceAddressID], [DestinationAddressID], [PickupDate], [PickupTimeSlotID], [Status], [TotalAmount], [BookingAmountPaid]) VALUES (1, 1, 1, 1, CAST(N'2024-12-20' AS Date), 2, N'Pending', CAST(1971.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Booking] ([BookingID], [UserID], [SourceAddressID], [DestinationAddressID], [PickupDate], [PickupTimeSlotID], [Status], [TotalAmount], [BookingAmountPaid]) VALUES (2, 1, 1, 2, CAST(N'2024-12-20' AS Date), 2, N'Confirmed', CAST(1971.00 AS Decimal(10, 2)), CAST(295.00 AS Decimal(10, 2)))
INSERT [dbo].[Booking] ([BookingID], [UserID], [SourceAddressID], [DestinationAddressID], [PickupDate], [PickupTimeSlotID], [Status], [TotalAmount], [BookingAmountPaid]) VALUES (3, 56, 1, 2, CAST(N'2025-02-10' AS Date), 1, N'Pending', CAST(100.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
INSERT [dbo].[DistanceCFT] ([DistanceRange], [CFT_100_149], [CFT_150_199], [CFT_200_249], [CFT_250_299], [CFT_300_349], [CFT_350_399], [CFT_400_499], [CFT_500_549], [CFT_550_599], [CFT_600_649], [CFT_650_699], [CFT_700_749], [CFT_750_799], [CFT_800_849], [CFT_850_899], [CFT_900_949], [CFT_950_999]) VALUES (N'100-199', 10140, 13000, 14300, 15340, 16120, 16510, 18720, 20410, 24440, 23140, 24310, 25740, 27300, 29120, 31200, 32890, 34970)
INSERT [dbo].[DistanceCFT] ([DistanceRange], [CFT_100_149], [CFT_150_199], [CFT_200_249], [CFT_250_299], [CFT_300_349], [CFT_350_399], [CFT_400_499], [CFT_500_549], [CFT_550_599], [CFT_600_649], [CFT_650_699], [CFT_700_749], [CFT_750_799], [CFT_800_849], [CFT_850_899], [CFT_900_949], [CFT_950_999]) VALUES (N'200-299', 10270, 13000, 15470, 15730, 15730, 17030, 19240, 21060, 22360, 23920, 25090, 26260, 28210, 30160, 32240, 34060, 36140)
INSERT [dbo].[DistanceCFT] ([DistanceRange], [CFT_100_149], [CFT_150_199], [CFT_200_249], [CFT_250_299], [CFT_300_349], [CFT_350_399], [CFT_400_499], [CFT_500_549], [CFT_550_599], [CFT_600_649], [CFT_650_699], [CFT_700_749], [CFT_750_799], [CFT_800_849], [CFT_850_899], [CFT_900_949], [CFT_950_999]) VALUES (N'300-399', 11440, 14820, 16640, 18200, 19500, 20410, 23140, 25350, 27300, 29120, 30810, 32370, 34840, 37180, 39780, 42190, 44590)
GO
SET IDENTITY_INSERT [dbo].[InventoryItem] ON 

INSERT [dbo].[InventoryItem] ([ItemID], [Category], [Name], [Description], [Quantity], [SizeCFT]) VALUES (1, N'Sofas & Seating', N'3 Seater Sofa', N'A comfortable 3-seater sofa, perfect for living rooms or lounges.', 1, 15)
INSERT [dbo].[InventoryItem] ([ItemID], [Category], [Name], [Description], [Quantity], [SizeCFT]) VALUES (2, N'Sofas & Seating', N'Settee (Small)', N'A compact and stylish small settee suitable for cozy spaces.', 1, 15)
INSERT [dbo].[InventoryItem] ([ItemID], [Category], [Name], [Description], [Quantity], [SizeCFT]) VALUES (3, N'Beds', N'Baby Underbed', N'A specially designed underbed for babies with ample storage space underneath.', 1, 15)
SET IDENTITY_INSERT [dbo].[InventoryItem] OFF
GO
SET IDENTITY_INSERT [dbo].[PackingOption] ON 

INSERT [dbo].[PackingOption] ([OptionID], [Name], [Price]) VALUES (1, N'Single-Layer Packing', CAST(249.00 AS Decimal(10, 2)))
INSERT [dbo].[PackingOption] ([OptionID], [Name], [Price]) VALUES (2, N'Multi-Layer Packing', CAST(498.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[PackingOption] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSlot] ON 

INSERT [dbo].[TimeSlot] ([SlotID], [SlotTime]) VALUES (2, N'2 PM')
INSERT [dbo].[TimeSlot] ([SlotID], [SlotTime]) VALUES (3, N'5 PM')
INSERT [dbo].[TimeSlot] ([SlotID], [SlotTime]) VALUES (1, N'9 AM')
SET IDENTITY_INSERT [dbo].[TimeSlot] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Name], [PhoneNumber], [Email], [Password], [AddressID]) VALUES (1, N'John Doe', N'9876543210', N'john.doe@example.com', N'securepassword', 1)
INSERT [dbo].[Users] ([UserID], [Name], [PhoneNumber], [Email], [Password], [AddressID]) VALUES (2, N'Default Name', N'2020520', N'default@example.com', N'defaultPassword', NULL)
INSERT [dbo].[Users] ([UserID], [Name], [PhoneNumber], [Email], [Password], [AddressID]) VALUES (6, N'Default Name', N'525', N'default2@example.com', N'defaultPassword', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Distance__278D68D05EBF139D]    Script Date: 13-02-2025 20:04:28 ******/
ALTER TABLE [dbo].[Distance_Range] ADD UNIQUE NONCLUSTERED 
(
	[Distance_Range] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TimeSlot__488B160724927208]    Script Date: 13-02-2025 20:04:28 ******/
ALTER TABLE [dbo].[TimeSlot] ADD UNIQUE NONCLUSTERED 
(
	[SlotTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ((0)) FOR [BookingAmountPaid]
GO
ALTER TABLE [dbo].[InventoryItem] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[InventoryItem] ADD  DEFAULT ((15)) FOR [SizeCFT]
GO
ALTER TABLE [dbo].[Booking]  WITH NOCHECK ADD FOREIGN KEY([DestinationAddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[Booking]  WITH NOCHECK ADD FOREIGN KEY([PickupTimeSlotID])
REFERENCES [dbo].[TimeSlot] ([SlotID])
GO
ALTER TABLE [dbo].[Booking]  WITH NOCHECK ADD FOREIGN KEY([SourceAddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[Booking]  WITH NOCHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Rates]  WITH CHECK ADD FOREIGN KEY([Distance_ID])
REFERENCES [dbo].[Distance_Range] ([Distance_ID])
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[Booking]  WITH NOCHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[BookingItem]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[PackingOption]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
