USE [master]
GO
/****** Object:  Database [MoversPackers]    Script Date: 15-07-2026 16:23:13 ******/
CREATE DATABASE [MoversPackers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MoversPackers', FILENAME = N'C:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL16.MSSQLSERVER2022\MSSQL\DATA\MoversPackers.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MoversPackers_log', FILENAME = N'C:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL16.MSSQLSERVER2022\MSSQL\DATA\MoversPackers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MoversPackers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MoversPackers]
GO
/****** Object:  User [packyat6_mp]    Script Date: 15-07-2026 16:23:15 ******/
CREATE USER [packyat6_mp] FOR LOGIN [packyat6_mp] WITH DEFAULT_SCHEMA=[packyat6_mp]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [packyat6_mp]
GO
ALTER ROLE [db_datareader] ADD MEMBER [packyat6_mp]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [packyat6_mp]
GO
/****** Object:  Schema [packyat6_121]    Script Date: 15-07-2026 16:23:15 ******/
CREATE SCHEMA [packyat6_121]
GO
/****** Object:  Schema [packyat6_mp]    Script Date: 15-07-2026 16:23:15 ******/
CREATE SCHEMA [packyat6_mp]
GO
/****** Object:  Schema [packyat6_mp_ppe]    Script Date: 15-07-2026 16:23:15 ******/
CREATE SCHEMA [packyat6_mp_ppe]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[FromAddress] [nvarchar](255) NULL,
	[ToAddress] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [varchar](100) NULL,
	[RecordId] [int] NULL,
	[ActionType] [varchar](50) NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SourceAddressID] [int] NOT NULL,
	[DestinationAddressID] [int] NOT NULL,
	[PickupDate] [date] NOT NULL,
	[PickupTimeSlotID] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[BookingAmountPaid] [decimal](10, 2) NOT NULL,
	[QuotationNumber] [nvarchar](50) NULL,
	[InvoiceID] [int] NULL,
	[IsQuotation] [bit] NOT NULL,
	[TotalVolume] [decimal](10, 2) NULL,
	[MovingType] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Ticket_distribution] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking_bk]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking_bk](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SourceAddressID] [int] NOT NULL,
	[DestinationAddressID] [int] NOT NULL,
	[PickupDate] [date] NOT NULL,
	[PickupTimeSlotID] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[BookingAmountPaid] [decimal](10, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingItem]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingItem](
	[BookingItemID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingVehicles]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingVehicles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[VehicleId] [int] NOT NULL,
	[AssignedDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityDistanceCFT]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityDistanceCFT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DistanceRange] [varchar](20) NOT NULL,
	[CFT_1_100] [int] NULL,
	[CFT_101_200] [int] NOT NULL,
	[CFT_201_300] [int] NOT NULL,
	[CFT_301_400] [int] NOT NULL,
	[CFT_401_500] [int] NOT NULL,
	[CFT_501_700] [int] NOT NULL,
	[CFT_701_900] [int] NOT NULL,
	[CFT_901_1100] [int] NOT NULL,
	[CFT_1101_1300] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityDistanceCFT_bk]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityDistanceCFT_bk](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DistanceRange] [varchar](20) NOT NULL,
	[CFT_100_200] [int] NOT NULL,
	[CFT_201_300] [int] NOT NULL,
	[CFT_301_400] [int] NOT NULL,
	[CFT_401_500] [int] NOT NULL,
	[CFT_501_700] [int] NOT NULL,
	[CFT_701_900] [int] NOT NULL,
	[CFT_900_1100] [int] NOT NULL,
	[CFT_1100_1300] [int] NOT NULL,
	[CFT_1_100] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityDistanceCFT_bk10032026]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityDistanceCFT_bk10032026](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DistanceRange] [varchar](20) NOT NULL,
	[CFT_1_100] [int] NULL,
	[CFT_101_200] [int] NOT NULL,
	[CFT_201_300] [int] NOT NULL,
	[CFT_301_400] [int] NOT NULL,
	[CFT_401_500] [int] NOT NULL,
	[CFT_501_700] [int] NOT NULL,
	[CFT_701_900] [int] NOT NULL,
	[CFT_901_1100] [int] NOT NULL,
	[CFT_1101_1300] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityDistanceCFT_june_2026]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityDistanceCFT_june_2026](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DistanceRange] [varchar](20) NOT NULL,
	[CFT_1_100] [int] NULL,
	[CFT_101_200] [int] NOT NULL,
	[CFT_201_300] [int] NOT NULL,
	[CFT_301_400] [int] NOT NULL,
	[CFT_401_500] [int] NOT NULL,
	[CFT_501_700] [int] NOT NULL,
	[CFT_701_900] [int] NOT NULL,
	[CFT_901_1100] [int] NOT NULL,
	[CFT_1101_1300] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceRegistration]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceRegistration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupervisorId] [int] NULL,
	[DeviceToken] [nvarchar](max) NULL,
	[DeviceType] [varchar](20) NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistanceCFT]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistanceCFT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DistanceRange] [varchar](50) NULL,
	[CFT_100_149] [int] NULL,
	[CFT_150_199] [int] NULL,
	[CFT_200_249] [int] NULL,
	[CFT_250_299] [int] NULL,
	[CFT_300_349] [int] NULL,
	[CFT_350_399] [int] NULL,
	[CFT_400_449] [int] NULL,
	[CFT_450_499] [int] NULL,
	[CFT_500_549] [int] NULL,
	[CFT_550_599] [int] NULL,
	[CFT_600_649] [int] NULL,
	[CFT_650_699] [int] NULL,
	[CFT_700_749] [int] NULL,
	[CFT_750_799] [int] NULL,
	[CFT_800_849] [int] NULL,
	[CFT_850_899] [int] NULL,
	[CFT_900_949] [int] NULL,
	[CFT_950_999] [int] NULL,
	[CFT_1000_1049] [int] NULL,
	[CFT_1050_1099] [int] NULL,
	[CFT_1100_1149] [int] NULL,
	[CFT_1150_1199] [int] NULL,
	[CFT_1200_1249] [int] NULL,
	[CFT_1250_1299] [int] NULL,
	[CFT_1300_1349] [int] NULL,
	[CFT_1350_1399] [int] NULL,
	[CFT_1400_1449] [int] NULL,
	[CFT_1450_1499] [int] NULL,
	[CFT_1500_1549] [int] NULL,
	[CFT_1550_1599] [int] NULL,
	[CFT_1600_1649] [int] NULL,
	[CFT_1650_1699] [int] NULL,
	[CFT_1700_1749] [int] NULL,
	[CFT_1750_1799] [int] NULL,
	[CFT_1800_1849] [int] NULL,
	[CFT_1850_1899] [int] NULL,
	[CFT_1900_1949] [int] NULL,
	[CFT_1950_1999] [int] NULL,
 CONSTRAINT [PK_DistanceCFT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistanceCFT_05062026]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistanceCFT_05062026](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DistanceRange] [varchar](50) NULL,
	[CFT_100_149] [int] NULL,
	[CFT_150_199] [int] NULL,
	[CFT_200_249] [int] NULL,
	[CFT_250_299] [int] NULL,
	[CFT_300_349] [int] NULL,
	[CFT_350_399] [int] NULL,
	[CFT_400_449] [int] NULL,
	[CFT_450_499] [int] NULL,
	[CFT_500_549] [int] NULL,
	[CFT_550_599] [int] NULL,
	[CFT_600_649] [int] NULL,
	[CFT_650_699] [int] NULL,
	[CFT_700_749] [int] NULL,
	[CFT_750_799] [int] NULL,
	[CFT_800_849] [int] NULL,
	[CFT_850_899] [int] NULL,
	[CFT_900_949] [int] NULL,
	[CFT_950_999] [int] NULL,
	[CFT_1000_1049] [int] NULL,
	[CFT_1050_1099] [int] NULL,
	[CFT_1100_1149] [int] NULL,
	[CFT_1150_1199] [int] NULL,
	[CFT_1200_1249] [int] NULL,
	[CFT_1250_1299] [int] NULL,
	[CFT_1300_1349] [int] NULL,
	[CFT_1350_1399] [int] NULL,
	[CFT_1400_1449] [int] NULL,
	[CFT_1450_1499] [int] NULL,
	[CFT_1500_1549] [int] NULL,
	[CFT_1550_1599] [int] NULL,
	[CFT_1600_1649] [int] NULL,
	[CFT_1650_1699] [int] NULL,
	[CFT_1700_1749] [int] NULL,
	[CFT_1750_1799] [int] NULL,
	[CFT_1800_1849] [int] NULL,
	[CFT_1850_1899] [int] NULL,
	[CFT_1900_1949] [int] NULL,
	[CFT_1950_1999] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistanceCFT_BK]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistanceCFT_BK](
	[DistanceRange] [varchar](50) NULL,
	[CFT_100_149] [int] NULL,
	[CFT_150_199] [int] NULL,
	[CFT_200_249] [int] NULL,
	[CFT_250_299] [int] NULL,
	[CFT_300_349] [int] NULL,
	[CFT_350_399] [int] NULL,
	[CFT_400_499] [int] NULL,
	[CFT_500_549] [int] NULL,
	[CFT_550_599] [int] NULL,
	[CFT_600_649] [int] NULL,
	[CFT_650_699] [int] NULL,
	[CFT_700_749] [int] NULL,
	[CFT_750_799] [int] NULL,
	[CFT_800_849] [int] NULL,
	[CFT_850_899] [int] NULL,
	[CFT_900_949] [int] NULL,
	[CFT_950_999] [int] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageCategory]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageCategory](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryItem]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryItem](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Quantity] [int] NULL,
	[SizeCFT] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[QuotationNumber] [nvarchar](100) NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterInventory]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterInventory](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupervisorId] [int] NULL,
	[Title] [nvarchar](200) NULL,
	[Message] [nvarchar](max) NULL,
	[ReadStatus] [bit] NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackingOption]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackingOption](
	[OptionID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[AmountPaid] [decimal](10, 2) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[PaymentStatus] [nvarchar](50) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[BookingID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentStatus] [varchar](50) NULL,
	[TransactionID] [varchar](100) NULL,
	[PaymentDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhonePePayments]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhonePePayments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MerchantTransactionId] [nvarchar](100) NOT NULL,
	[PhonePeTransactionId] [nvarchar](100) NULL,
	[Amount] [bigint] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RawWebhookPayload] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MerchantTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhonePeRefunds]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhonePeRefunds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RefundId] [nvarchar](100) NOT NULL,
	[MerchantTransactionId] [nvarchar](100) NOT NULL,
	[Amount] [bigint] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RawWebhookPayload] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RefundId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](100) NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_back]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_back](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](100) NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[Active] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubAccount]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubAccount](
	[SubAccountId] [int] NOT NULL,
	[SubAccountCode] [nvarchar](5) NULL,
	[SubAccountName] [nvarchar](100) NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
	[BillingType] [int] NOT NULL,
	[CountryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupervisorLocation]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupervisorLocation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupervisorId] [int] NULL,
	[Latitude] [decimal](18, 10) NULL,
	[Longitude] [decimal](18, 10) NULL,
	[Accuracy] [float] NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupervisorProfile]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupervisorProfile](
	[SupervisorId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[Zone] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Avatar] [nvarchar](500) NULL,
	[Address] [nvarchar](500) NULL,
	[JoiningDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SupervisorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supervisors]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supervisors](
	[SupervisorID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[Password] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupervisorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketAttachment]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketAttachment](
	[AttachmentId] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[OriginalFileName] [nvarchar](255) NULL,
	[StoredFileName] [nvarchar](255) NULL,
	[FilePath] [nvarchar](500) NULL,
	[FileSize] [bigint] NULL,
	[UploadedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AttachmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketComments]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketComments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[CommentType] [nvarchar](50) NULL,
	[CommentText] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketImage]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketImage](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NULL,
	[WorkflowId] [int] NULL,
	[CategoryId] [int] NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[ThumbnailUrl] [nvarchar](500) NULL,
	[UploadedBy] [int] NULL,
	[UploadedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketOTP]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketOTP](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NULL,
	[WorkflowId] [int] NULL,
	[OTP] [varchar](10) NULL,
	[OTPType] [varchar](20) NULL,
	[ExpiryTime] [datetime] NULL,
	[Verified] [bit] NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketRating]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketRating](
	[RatingId] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NULL,
	[Stars] [int] NULL,
	[Feedback] [nvarchar](max) NULL,
	[TipAmount] [decimal](10, 2) NULL,
	[RatedBy] [varchar](100) NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketRatingDetails]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketRatingDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RatingId] [int] NULL,
	[Aspect] [varchar](100) NULL,
	[Rating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[FromLocation] [varchar](255) NULL,
	[ToLocation] [varchar](255) NULL,
	[BookingAmount] [decimal](10, 2) NULL,
	[Status] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[AssignedSupervisorID] [int] NULL,
	[TicketNo] [nvarchar](100) NOT NULL,
	[VehicleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketSignature]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketSignature](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NULL,
	[SignatureType] [varchar](50) NULL,
	[SignaturePath] [nvarchar](500) NULL,
	[SignedBy] [varchar](100) NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketUpdates]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketUpdates](
	[UpdateID] [int] IDENTITY(1,1) NOT NULL,
	[TicketID] [int] NOT NULL,
	[Status] [varchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[UpdateTimestamp] [datetime] NULL,
	[Notes] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[UpdateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketWorkflow]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketWorkflow](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NULL,
	[WorkflowId] [int] NULL,
	[Status] [varchar](20) NULL,
	[CompletedOn] [datetime] NULL,
	[CompletedBy] [int] NULL,
	[PhotoCount] [int] NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[SlotID] [int] IDENTITY(1,1) NOT NULL,
	[SlotTime] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlots]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlots](
	[TimeSlotID] [int] IDENTITY(1,1) NOT NULL,
	[TimeSlotName] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAdmin]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAdmin](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[Mobile] [nvarchar](100) NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
	[LastActivityDate] [datetime2](7) NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[FullName]  AS (([LastName]+', ')+[FirstName]),
	[RoleId] [int] NULL,
	[DefaultAccountId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[AddressID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VehicleNumber] [nvarchar](20) NOT NULL,
	[VehicleType] [nvarchar](50) NULL,
	[DriverName] [nvarchar](100) NULL,
	[DriverPhone] [nvarchar](15) NULL,
	[Capacity] [int] NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[VehicleNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkflowMaster]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkflowMaster](
	[WorkflowId] [int] IDENTITY(1,1) NOT NULL,
	[WorkflowCode] [varchar](50) NULL,
	[WorkflowName] [varchar](100) NULL,
	[DisplayOrder] [int] NULL,
	[IsOTPRequired] [bit] NULL,
	[IsPhotoRequired] [bit] NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkflowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [packyat6_mp_ppe].[Invoice]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [packyat6_mp_ppe].[Invoice](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[QuotationNumber] [nvarchar](100) NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [packyat6_mp_ppe].[PhonePePayments]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [packyat6_mp_ppe].[PhonePePayments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MerchantTransactionId] [nvarchar](100) NULL,
	[PhonePeTransactionId] [nvarchar](100) NULL,
	[Amount] [bigint] NULL,
	[Status] [nvarchar](20) NULL,
	[RawWebhookPayload] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MerchantTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [packyat6_mp_ppe].[TimeSlots]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [packyat6_mp_ppe].[TimeSlots](
	[TimeSlotID] [int] NOT NULL,
	[TimeSlotName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeSlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupervisorProfile_UserId]    Script Date: 15-07-2026 16:23:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SupervisorProfile_UserId] ON [dbo].[SupervisorProfile]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ((0)) FOR [BookingAmountPaid]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ((0)) FOR [IsQuotation]
GO
ALTER TABLE [dbo].[Booking] ADD  CONSTRAINT [DF_Tickets_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[BookingVehicles] ADD  DEFAULT (getdate()) FOR [AssignedDate]
GO
ALTER TABLE [dbo].[BookingVehicles] ADD  DEFAULT ('Assigned') FOR [Status]
GO
ALTER TABLE [dbo].[InventoryItem] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[InventoryItem] ADD  DEFAULT ((15)) FOR [SizeCFT]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[PhonePePayments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PhonePeRefunds] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SupervisorProfile] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SupervisorProfile] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TicketAttachment] ADD  DEFAULT (getdate()) FOR [UploadedOn]
GO
ALTER TABLE [dbo].[TicketComments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TicketUpdates] ADD  DEFAULT (getdate()) FOR [UpdateTimestamp]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [packyat6_mp_ppe].[Invoice] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [packyat6_mp_ppe].[PhonePePayments] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[SupervisorProfile]  WITH CHECK ADD  CONSTRAINT [FK_SupervisorProfile_UserAdmin] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserAdmin] ([UserId])
GO
ALTER TABLE [dbo].[SupervisorProfile] CHECK CONSTRAINT [FK_SupervisorProfile_UserAdmin]
GO
ALTER TABLE [dbo].[TicketUpdates]  WITH CHECK ADD FOREIGN KEY([TicketID])
REFERENCES [dbo].[Tickets] ([TicketID])
GO
ALTER TABLE [dbo].[TicketUpdates]  WITH CHECK ADD FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Supervisors] ([SupervisorID])
GO
ALTER TABLE [dbo].[Booking]  WITH NOCHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[BookingItem]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[PackingOption]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([AmountPaid]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[GetBookingStatusOverview]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[GetBookingStatusOverview]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Get booking status distribution
    SELECT 
        Status AS BookingStatus,
        COUNT(*) AS BookingCount,
        SUM(TotalAmount) AS TotalAmount,
        AVG(TotalAmount) AS AvgAmount
    FROM Booking
    GROUP BY Status
    ORDER BY 
        CASE Status
            WHEN 'Pending' THEN 1
            WHEN 'Confirmed' THEN 2
            WHEN 'In Progress' THEN 3
            WHEN 'Completed' THEN 4
            WHEN 'Cancelled' THEN 5
            ELSE 6
        END;
END
GO
/****** Object:  StoredProcedure [dbo].[GetDashboardStats]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDashboardStats]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Calculate all stats in a single query
    WITH MonthlyStats AS (
        SELECT 
            -- Current month stats
            SUM(CASE 
                WHEN MONTH(PickupDate) = MONTH(GETDATE()) AND YEAR(PickupDate) = YEAR(GETDATE()) 
                THEN 1 ELSE 0 
            END) AS TotalBookings,
            
            SUM(CASE 
                WHEN MONTH(PickupDate) = MONTH(DATEADD(MONTH, -1, GETDATE())) 
                     AND YEAR(PickupDate) = YEAR(DATEADD(MONTH, -1, GETDATE())) 
                THEN 1 ELSE 0 
            END) AS TotalBookingsLastMonth,
            
            -- Completed moves
            SUM(CASE 
                WHEN Status = 'Completed' 
                     AND MONTH(PickupDate) = MONTH(GETDATE())
                     AND YEAR(PickupDate) = YEAR(GETDATE())
                THEN 1 ELSE 0 
            END) AS CompletedMoves,
            
            SUM(CASE 
                WHEN Status = 'Completed' 
                     AND MONTH(PickupDate) = MONTH(DATEADD(MONTH, -1, GETDATE()))
                     AND YEAR(PickupDate) = YEAR(DATEADD(MONTH, -1, GETDATE()))
                THEN 1 ELSE 0 
            END) AS CompletedMovesLastMonth,
            
            -- Revenue
            SUM(CASE 
                WHEN Status = 'Completed'
                     AND MONTH(PickupDate) = MONTH(GETDATE())
                     AND YEAR(PickupDate) = YEAR(GETDATE())
                THEN ISNULL(TotalAmount, 0) ELSE 0 
            END) AS TotalRevenue,
            
            SUM(CASE 
                WHEN Status = 'Completed'
                     AND MONTH(PickupDate) = MONTH(DATEADD(MONTH, -1, GETDATE()))
                     AND YEAR(PickupDate) = YEAR(DATEADD(MONTH, -1, GETDATE()))
                THEN ISNULL(TotalAmount, 0) ELSE 0 
            END) AS TotalRevenueLastMonth
        FROM Booking
    ),
    TicketStats AS (
        SELECT 
            -- Active tickets
            COUNT(CASE 
                WHEN Status NOT IN ('Closed', 'Resolved', 'Cancelled', 'Completed') 
                THEN 1 
            END) AS ActiveTickets,
            
            COUNT(CASE 
                WHEN Status NOT IN ('Closed', 'Resolved', 'Cancelled', 'Completed')
                     AND CAST(CreatedAt AS DATE) = CAST(DATEADD(DAY, -1, GETDATE()) AS DATE)
                THEN 1 
            END) AS ActiveTicketsYesterday,
            
            -- Priority breakdown
            COUNT(CASE 
                WHEN Status IN ('Pending', 'New', 'Urgent') 
                THEN 1 
            END) AS HighPriorityTickets,
            
            COUNT(CASE 
                WHEN Status IN ('In Progress', 'Assigned', 'Open') 
                THEN 1 
            END) AS MediumPriorityTickets,
            
            COUNT(CASE 
                WHEN Status IN ('Resolved', 'Closed', 'On Hold') 
                THEN 1 
            END) AS LowPriorityTickets,
            
            -- Supervisors
            COUNT(DISTINCT 
                CASE 
                    WHEN AssignedSupervisorID IS NOT NULL
                         AND MONTH(CreatedAt) = MONTH(GETDATE())
                         AND YEAR(CreatedAt) = YEAR(GETDATE())
                    THEN AssignedSupervisorID 
                END
            ) AS ActiveSupervisors,
            
            COUNT(DISTINCT 
                CASE 
                    WHEN AssignedSupervisorID IS NOT NULL
                    THEN AssignedSupervisorID 
                END
            ) AS TotalSupervisors,
            
            -- Average resolution time
            AVG(
                CASE 
                    WHEN Status IN ('Resolved', 'Closed', 'Completed') 
                    THEN DATEDIFF(DAY, CreatedAt, ISNULL(UpdatedAt, GETDATE()))
                    ELSE NULL
                END
            ) AS AvgResolutionDays,
            
            -- Average response time
            AVG(
                CASE 
                    WHEN AssignedSupervisorID IS NOT NULL 
                    THEN DATEDIFF(HOUR, CreatedAt, CreatedAt)
                    ELSE NULL
                END
            ) AS AvgResponseHours
        FROM Tickets
    ),
    UserStats AS (
        SELECT 
            COUNT(DISTINCT u.UserID) AS NewUsersWithoutBooking
        FROM Users u
        LEFT JOIN Booking b ON u.UserID = b.UserID
        WHERE b.BookingID IS NULL
    )
    SELECT 
        -- Main stats
        ISNULL(m.TotalBookings, 0) AS TotalBookings,
        ISNULL(t.ActiveTickets, 0) AS ActiveTickets,
        ISNULL(m.CompletedMoves, 0) AS CompletedMoves,
        ISNULL(m.TotalRevenue, 0) AS TotalRevenue,
        ISNULL(u.NewUsersWithoutBooking, 0) AS NewUsersWithoutBooking,
        ISNULL(t.ActiveSupervisors, 0) AS ActiveSupervisors,
        ISNULL(t.TotalSupervisors, 1) AS TotalSupervisors,
        ISNULL(t.HighPriorityTickets, 0) AS HighPriorityTickets,
        ISNULL(t.MediumPriorityTickets, 0) AS MediumPriorityTickets,
        ISNULL(t.LowPriorityTickets, 0) AS LowPriorityTickets,
        
        -- Trend calculations (with proper casting)
        CASE 
            WHEN ISNULL(m.TotalBookingsLastMonth, 0) > 0 
            THEN CAST(CAST((ISNULL(m.TotalBookings, 0) - m.TotalBookingsLastMonth) AS DECIMAL(10,2)) 
                   / m.TotalBookingsLastMonth * 100 AS DECIMAL(10,2))
            ELSE 
                CASE 
                    WHEN ISNULL(m.TotalBookings, 0) > 0 THEN 100.0 
                    ELSE 0.0 
                END
        END AS BookingTrend,
        
        CASE 
            WHEN ISNULL(t.ActiveTicketsYesterday, 0) > 0 
            THEN CAST(CAST((ISNULL(t.ActiveTickets, 0) - t.ActiveTicketsYesterday) AS DECIMAL(10,2)) 
                   / t.ActiveTicketsYesterday * 100 AS DECIMAL(10,2))
            ELSE 
                CASE 
                    WHEN ISNULL(t.ActiveTickets, 0) > 0 THEN 100.0 
                    ELSE 0.0 
                END
        END AS TicketTrend,
        
        CASE 
            WHEN ISNULL(m.CompletedMovesLastMonth, 0) > 0 
            THEN CAST(CAST((ISNULL(m.CompletedMoves, 0) - m.CompletedMovesLastMonth) AS DECIMAL(10,2)) 
                   / m.CompletedMovesLastMonth * 100 AS DECIMAL(10,2))
            ELSE 
                CASE 
                    WHEN ISNULL(m.CompletedMoves, 0) > 0 THEN 100.0 
                    ELSE 0.0 
                END
        END AS CompletedTrend,
        
        CASE 
            WHEN ISNULL(m.TotalRevenueLastMonth, 0) > 0 
            THEN CAST(CAST((ISNULL(m.TotalRevenue, 0) - m.TotalRevenueLastMonth) AS DECIMAL(10,2)) 
                   / m.TotalRevenueLastMonth * 100 AS DECIMAL(10,2))
            ELSE 
                CASE 
                    WHEN ISNULL(m.TotalRevenue, 0) > 0 THEN 100.0 
                    ELSE 0.0 
                END
        END AS RevenueTrend,
        
        -- Averages
        ISNULL(CAST(t.AvgResolutionDays AS DECIMAL(5,1)), 2.4) AS AvgResolutionDays,
        '94%' AS CustomerSatisfaction,
        ISNULL(CAST(t.AvgResponseHours AS DECIMAL(5,1)), 2.4) AS AvgResponseHours,
        GETDATE() AS LastUpdated
        
    FROM MonthlyStats m
    CROSS JOIN TicketStats t
    CROSS JOIN UserStats u;
END
GO
/****** Object:  StoredProcedure [dbo].[GetMonthlyRevenueChart]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[GetMonthlyRevenueChart]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Get revenue for current year
    WITH Months AS (
        SELECT 1 AS MonthNumber, 'January' AS MonthName
        UNION SELECT 2, 'February'
        UNION SELECT 3, 'March'
        UNION SELECT 4, 'April'
        UNION SELECT 5, 'May'
        UNION SELECT 6, 'June'
        UNION SELECT 7, 'July'
        UNION SELECT 8, 'August'
        UNION SELECT 9, 'September'
        UNION SELECT 10, 'October'
        UNION SELECT 11, 'November'
        UNION SELECT 12, 'December'
    )
    SELECT 
        m.MonthNumber,
        m.MonthName,
        ISNULL(SUM(b.TotalAmount), 0) AS Revenue,
        ISNULL(COUNT(b.BookingID), 0) AS BookingCount,
        -- Calculate average booking value
        CASE 
            WHEN COUNT(b.BookingID) > 0 
            THEN ISNULL(SUM(b.TotalAmount), 0) / COUNT(b.BookingID)
            ELSE 0
        END AS AvgBookingValue
    FROM Months m
    LEFT JOIN Booking b ON 
        MONTH(b.PickupDate) = m.MonthNumber 
        AND YEAR(b.PickupDate) = YEAR(GETDATE())
        AND b.Status IN ('Completed', 'Confirmed', 'In Progress')
    WHERE m.MonthNumber <= MONTH(GETDATE()) -- Only months up to current
    GROUP BY m.MonthNumber, m.MonthName
    ORDER BY m.MonthNumber;
END
GO
/****** Object:  StoredProcedure [dbo].[GetRecentBookingsWithDetails]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRecentBookingsWithDetails]
    @TopCount INT = 5000
AS
--- exec [dbo].[GetRecentBookingsWithDetails]
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP (@TopCount)
        b.BookingID,
        t.TicketID,
        t.TicketNo,
        u.Name AS UserName,
        u.Email AS UserEmail,
        u.PhoneNumber AS UserPhone,
        b.PickupDate,
        b.TotalAmount,
		b.BookingAmountPaid,
		b.SourceAddressId,
        b.Status AS BookingStatus,
        t.Status AS TicketStatus,
        t.FromLocation,
        t.ToLocation,
        t.CreatedAt AS TicketCreated,
        t.AssignedSupervisorID,
		t.FromLocation,
		t.Tolocation,
		b.QuotationNumber,
		aFrom. FromAddress,
        aFrom. ToAddress,
        -- Format dates
        FORMAT(b.PickupDate, 'dd-MMM-yyyy') AS FormattedPickupDate,
        CASE 
            WHEN t.CreatedAt IS NOT NULL 
            THEN FORMAT(t.CreatedAt, 'dd-MMM-yyyy HH:mm')
            ELSE 'No Ticket'
        END AS FormattedTicketDate,
        -- Calculate booking age
        DATEDIFF(DAY, b.PickupDate, GETDATE()) AS DaysSincePickup,
        -- Payment status
        CASE 
            WHEN b.BookingAmountPaid >= b.TotalAmount THEN 'Paid'
            WHEN b.BookingAmountPaid > 0 THEN 'Partially Paid'
            ELSE 'Unpaid'
        END AS PaymentStatus,
       b.Ticket_distribution
    FROM Booking b
    INNER JOIN Users u ON b.UserID = u.UserID
    LEFT JOIN Tickets t ON b.BookingID = t.BookingID
    LEFT JOIN Address aFrom ON b.SourceAddressId = aFrom.AddressId 
   -- WHERE b.Ticket_distribution = 'Active' --AND b.Ticket_distribution != 'Closed' --OR b.Ticket_distribution IS NULL
    ORDER BY b.bookingid desc, b.PickupDate DESC, t.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetTicketStatusData]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[GetTicketStatusData]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Get all ticket statuses and their counts
    SELECT 
        Status,
        COUNT(*) AS TicketCount
    FROM Tickets
    GROUP BY Status
    
    UNION ALL
    
    -- Get total tickets for last month
    SELECT 
        'Last Month' AS Status,
        COUNT(*) AS TicketCount
    FROM Tickets
    WHERE MONTH(CreatedAt) = MONTH(DATEADD(MONTH, -1, GETDATE()))
    AND YEAR(CreatedAt) = YEAR(DATEADD(MONTH, -1, GETDATE()))
    
    -- Ensure we always have data
    ORDER BY Status;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateInvoice_ByQuotation]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GenerateInvoice_ByQuotation]
    @QuotationNumber NVARCHAR(100)
AS
---EXEC sp_GenerateInvoice_ByQuotation  @QuotationNumber = 'PACKY-546';
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @BookingID INT,
        @NewInvoiceNumber NVARCHAR(50),
        @NextNumber INT;

    ------------------------------------------------
    -- 1️⃣ Check Quotation Exists
    ------------------------------------------------
    SELECT @BookingID = BookingID
    FROM Booking
    WHERE QuotationNumber = @QuotationNumber;

    IF @BookingID IS NULL
    BEGIN
        SELECT 
            'Quotation number does not exist' AS Message,
            0 AS StatusCode;
        RETURN;
    END

    ------------------------------------------------
    -- 2️⃣ Check Invoice Already Generated
    ------------------------------------------------
    IF EXISTS (
        SELECT 1 
        FROM Invoice 
        WHERE QuotationNumber = @QuotationNumber
    )
    BEGIN
        SELECT 
            'Invoice already generated for this quotation' AS Message,
            0 AS StatusCode;
        RETURN;
    END

    ------------------------------------------------
    -- 3️⃣ Generate Invoice Number
    ------------------------------------------------
    SELECT @NextNumber = ISNULL(MAX(InvoiceID),0) + 1 
    FROM Invoice;

    SET @NewInvoiceNumber = 
        'GCN-' + 
       
        RIGHT('0000' + CAST(@NextNumber AS NVARCHAR), 4);

    ------------------------------------------------
    -- 4️⃣ Insert Invoice
    ------------------------------------------------
    INSERT INTO Invoice (BookingID, QuotationNumber, InvoiceNumber)
    VALUES (@BookingID, @QuotationNumber, @NewInvoiceNumber);

    ------------------------------------------------
    -- 5️⃣ Return Success
    ------------------------------------------------
    SELECT 
        'Invoice generated successfully' AS Message,
        1 AS StatusCode,
        InvoiceID,
        BookingID,
        QuotationNumber,
        InvoiceNumber,
        CreatedDate
    FROM Invoice
    WHERE InvoiceID = SCOPE_IDENTITY();

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookingDetails_ByQuotation]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBookingDetails_ByQuotation]
    @QuotationNumber NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    ----------------------------------------------------
    -- 1️⃣ Booking + User + Address + Slot Details
    ----------------------------------------------------
    SELECT 
        ISNULL(B.BookingID, 0) AS BookingID,
        ISNULL(B.QuotationNumber, '') AS QuotationNumber,
        ISNULL(B.PickupDate, '1900-01-01') AS PickupDate,
        ISNULL(B.Status, '') AS Status,
        ISNULL(B.TotalAmount, 0) AS TotalAmount,
        ISNULL(B.BookingAmountPaid, 0) AS BookingAmountPaid,
        ISNULL(B.TotalVolume, 0) AS TotalVolume,
        ISNULL(B.MovingType, '') AS MovingType,
        ISNULL(B.IsQuotation, 0) AS IsQuotation,

        -- User Details
        ISNULL(U.UserID, 0) AS UserID,
        ISNULL(U.Name, '') AS CustomerName,
        ISNULL(U.PhoneNumber, '') AS PhoneNumber,
        ISNULL(U.Email, '') AS Email,

        -- Address Details
        ISNULL(A.FromAddress, '') AS FromAddress,
        ISNULL(A.ToAddress, '') AS ToAddress,

        -- Time Slot
        ISNULL(T.SlotTime, '') AS SlotTime

    FROM Booking B
    LEFT JOIN Users U 
        ON B.UserID = U.UserID
    LEFT JOIN Address A 
        ON B.SourceAddressID = A.AddressID
    LEFT JOIN TimeSlot T 
        ON B.PickupTimeSlotID = T.SlotID
    WHERE B.QuotationNumber = @QuotationNumber;


    ----------------------------------------------------
    -- 2️⃣ Booking Items + Inventory Item Details
    ----------------------------------------------------
    SELECT 
        ISNULL(BI.BookingItemID, 0) AS BookingItemID,
        ISNULL(BI.BookingID, 0) AS BookingID,
        ISNULL(BI.ItemID, 0) AS ItemID,

        -- Inventory Item Details
        ISNULL(II.Name, '') AS ItemName,
        ISNULL(II.Category, '') AS Category,
        ISNULL(II.Description, '') AS Description,
        ISNULL(II.SizeCFT, 0) AS SizeCFT,

        -- Booked Quantity
        ISNULL(BI.Quantity, 0) AS BookedQuantity

    FROM BookingItem BI
    INNER JOIN Booking B 
        ON BI.BookingID = B.BookingID
    LEFT JOIN InventoryItem II
        ON BI.ItemID = II.ItemID
    WHERE B.QuotationNumber = @QuotationNumber;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCityDistanceCFTPrice]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCityDistanceCFTPrice]
(
    @Distance INT,
    @CFT INT,
    @Price DECIMAL(18,2) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        @Price =
        CASE
            WHEN @CFT BETWEEN 1 AND 100 THEN CFT_1_100
            WHEN @CFT BETWEEN 101 AND 200 THEN CFT_101_200
            WHEN @CFT BETWEEN 201 AND 300 THEN CFT_201_300
            WHEN @CFT BETWEEN 301 AND 400 THEN CFT_301_400
            WHEN @CFT BETWEEN 401 AND 500 THEN CFT_401_500
            WHEN @CFT BETWEEN 501 AND 700 THEN CFT_501_700
            WHEN @CFT BETWEEN 701 AND 900 THEN CFT_701_900
            WHEN @CFT BETWEEN 901 AND 1100 THEN CFT_901_1100
            WHEN @CFT BETWEEN 1101 AND 1300 THEN CFT_1101_1300
        END
    FROM CityDistanceCFT
    WHERE @Distance BETWEEN
          CAST(LEFT(DistanceRange, CHARINDEX('-', DistanceRange) - 1) AS INT)
      AND CAST(SUBSTRING(DistanceRange, CHARINDEX('-', DistanceRange) + 1, 10) AS INT);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDistanceCFTPrice]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDistanceCFTPrice]
(
    @Distance INT,
    @CFT INT,
    @Price DECIMAL(18,2) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @MinCFT INT,
        @MaxCFT INT,
        @CFTColumn SYSNAME,
        @SQL NVARCHAR(MAX);

    /* 1️⃣ Validate CFT range */
    IF @CFT < 100 OR @CFT > 1999
    BEGIN
        SET @Price = NULL;
        RETURN;
    END

    /* 2️⃣ Calculate CFT range (50 bucket) */
    SET @MinCFT = (@CFT / 50) * 50;

    IF @MinCFT < 100 
        SET @MinCFT = 100;

    SET @MaxCFT = @MinCFT + 49;

    /* 3️⃣ Build column name */
    SET @CFTColumn = 
        'CFT_' + CAST(@MinCFT AS VARCHAR(10)) + '_' + CAST(@MaxCFT AS VARCHAR(10));

    /* 4️⃣ Dynamic SQL */
    SET @SQL = N'
        SELECT @PriceOut = ' + QUOTENAME(@CFTColumn) + '
        FROM DistanceCFT
        WHERE @Distance BETWEEN
              CAST(LEFT(DistanceRange, CHARINDEX(''-'', DistanceRange) - 1) AS INT)
          AND CAST(SUBSTRING(
                DistanceRange,
                CHARINDEX(''-'', DistanceRange) + 1,
                LEN(DistanceRange)
              ) AS INT)
    ';

    EXEC sp_executesql
        @SQL,
        N'@Distance INT, @PriceOut DECIMAL(18,2) OUTPUT',
        @Distance = @Distance,
        @PriceOut = @Price OUTPUT;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetInvoiceDetails_ByInvoiceNumber]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetInvoiceDetails_ByInvoiceNumber]
    @InvoiceNumber NVARCHAR(100)
AS
 --EXEC sp_GetInvoiceDetails_ByInvoiceNumber  @InvoiceNumber = 'INV-2026-0001';
BEGIN
    SET NOCOUNT ON;

    ----------------------------------------------------
    -- 1️⃣ Invoice + Booking + User + Address + Slot
    ----------------------------------------------------
    SELECT 
        ISNULL(I.InvoiceID, 0) AS InvoiceID,
        ISNULL(I.InvoiceNumber, '') AS InvoiceNumber,
        ISNULL(I.CreatedDate, '1900-01-01') AS InvoiceDate,

        ISNULL(B.BookingID, 0) AS BookingID,
        ISNULL(B.QuotationNumber, '') AS QuotationNumber,
        ISNULL(B.PickupDate, '1900-01-01') AS PickupDate,
        ISNULL(B.Status, '') AS Status,
        ISNULL(B.TotalAmount, 0) AS TotalAmount,
        ISNULL(B.BookingAmountPaid, 0) AS BookingAmountPaid,
        ISNULL(B.TotalVolume, 0) AS TotalVolume,
        ISNULL(B.MovingType, '') AS MovingType,

        -- User Details
        ISNULL(U.UserID, 0) AS UserID,
        ISNULL(U.Name, '') AS CustomerName,
        ISNULL(U.PhoneNumber, '') AS PhoneNumber,
        ISNULL(U.Email, '') AS Email,

        -- Address
        ISNULL(A.FromAddress, '') AS FromAddress,
        ISNULL(A.ToAddress, '') AS ToAddress,

        -- Time Slot
        ISNULL(T.SlotTime, '') AS SlotTime

    FROM Invoice I
    INNER JOIN Booking B 
        ON I.BookingID = B.BookingID
    LEFT JOIN Users U 
        ON B.UserID = U.UserID
    LEFT JOIN Address A 
        ON B.SourceAddressID = A.AddressID
    LEFT JOIN TimeSlot T 
        ON B.PickupTimeSlotID = T.SlotID
    WHERE I.InvoiceNumber = @InvoiceNumber;


    ----------------------------------------------------
    -- 2️⃣ Booking Items
    ----------------------------------------------------
    SELECT 
        ISNULL(BI.BookingItemID, 0) AS BookingItemID,
        ISNULL(BI.BookingID, 0) AS BookingID,
        ISNULL(BI.ItemID, 0) AS ItemID,

        ISNULL(II.Name, '') AS ItemName,
        ISNULL(II.Category, '') AS Category,
        ISNULL(II.Description, '') AS Description,
        ISNULL(II.SizeCFT, 0) AS SizeCFT,

        ISNULL(BI.Quantity, 0) AS BookedQuantity

    FROM BookingItem BI
    INNER JOIN Booking B 
        ON BI.BookingID = B.BookingID
    INNER JOIN Invoice I
        ON B.BookingID = I.BookingID
    LEFT JOIN InventoryItem II
        ON BI.ItemID = II.ItemID
    WHERE I.InvoiceNumber = @InvoiceNumber;

END
GO
/****** Object:  StoredProcedure [dbo].[UpdateBookingAndTicketFlexible]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[UpdateBookingAndTicketFlexible]
    @BookingID INT,
    @TotalAmount DECIMAL(18,2) = NULL,
    @BookingStatus NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    ----------------------------------------------------
    -- ❌ Prevent Empty Update Call
    ----------------------------------------------------
    IF @TotalAmount IS NULL AND @BookingStatus IS NULL
    BEGIN
        SELECT 0 AS Success, 'No values provided to update.' AS Message;
        RETURN;
    END

    ----------------------------------------------------
    -- ❌ Validate Booking Exists
    ----------------------------------------------------
    IF NOT EXISTS (SELECT 1 FROM Booking WHERE BookingID = @BookingID)
    BEGIN
        SELECT 0 AS Success, 'Invalid BookingID.' AS Message;
        RETURN;
    END

    BEGIN TRY
        BEGIN TRANSACTION;

        ----------------------------------------------------
        -- ✅ Update Booking
        ----------------------------------------------------
        UPDATE Booking
        SET 
            BookingAmountPaid = ISNULL(@TotalAmount, BookingAmountPaid),
            Status = ISNULL(@BookingStatus, Status)
            --UpdatedAt = GETUTCDATE()
        WHERE BookingID = @BookingID;

        ----------------------------------------------------
        -- ✅ Update Ticket Only If Exists & Status Provided
        ----------------------------------------------------
        IF @BookingStatus IS NOT NULL
           AND EXISTS (SELECT 1 FROM Tickets WHERE BookingID = @BookingID)
        BEGIN
            UPDATE Tickets
            SET 
                Status = @BookingStatus
                --UpdatedAt = GETUTCDATE()
            WHERE BookingID = @BookingID;
        END

        COMMIT TRANSACTION;

        SELECT 1 AS Success, 
               'Booking updated successfully. Ticket updated if available.' AS Message;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        SELECT 0 AS Success,
               ERROR_MESSAGE() AS Message;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_TrackTicketByPhoneAndTicketNo]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_TrackTicketByPhoneAndTicketNo]
(
    @PhoneNumber VARCHAR(15),
    @TicketNo VARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    /* STEP 1: Validate User */
    DECLARE @UserID INT;

    SELECT @UserID = UserID
    FROM dbo.Users
    WHERE PhoneNumber = @PhoneNumber;

    IF @UserID IS NULL
    BEGIN
        RAISERROR ('Invalid phone number', 16, 1);
        RETURN;
    END

    /* STEP 2: Validate Ticket */
    DECLARE @TicketID INT;
    DECLARE @BookingID INT;

    SELECT 
        @TicketID = TicketID,
        @BookingID = BookingID
    FROM dbo.Tickets
    WHERE TicketNo = @TicketNo
      AND UserID = @UserID;

    IF @TicketID IS NULL
    BEGIN
        RAISERROR ('Invalid ticket number or ticket does not belong to this user', 16, 1);
        RETURN;
    END

    /* STEP 3: Ticket + Booking Summary */
    SELECT
        T.TicketID,
        T.TicketNo,
        T.Status AS TicketStatus,
        T.FromLocation,
        T.ToLocation,
        T.CreatedAt AS TicketCreatedAt,
        T.UpdatedAt AS TicketUpdatedAt,

        B.BookingID,
        B.PickupDate,
        B.Status AS BookingStatus,
        B.BookingAmountPaid,

        U.Name,
        U.PhoneNumber,
        U.Email
    FROM dbo.Tickets T
    INNER JOIN dbo.Booking B ON T.BookingID = B.BookingID
    INNER JOIN dbo.Users U ON T.UserID = U.UserID
    WHERE T.TicketID = @TicketID;

    /* STEP 4: Ticket Comments (Timeline) */
    SELECT
        TC.CommentId,
        TC.CommentType,
        TC.CommentText,
        TC.CreatedBy,
        TC.CreatedAt
    FROM dbo.TicketComments TC
    WHERE TC.TicketId = @TicketID
    ORDER BY TC.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [packyat6_mp_ppe].[GetBookingStatusOverview]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [packyat6_mp_ppe].[GetBookingStatusOverview]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Get booking status distribution
    SELECT 
        Status AS BookingStatus,
        COUNT(*) AS BookingCount,
        SUM(TotalAmount) AS TotalAmount,
        AVG(TotalAmount) AS AvgAmount
    FROM Booking
    GROUP BY Status
    ORDER BY 
        CASE Status
            WHEN 'Pending' THEN 1
            WHEN 'Confirmed' THEN 2
            WHEN 'In Progress' THEN 3
            WHEN 'Completed' THEN 4
            WHEN 'Cancelled' THEN 5
            ELSE 6
        END;
END
GO
/****** Object:  StoredProcedure [packyat6_mp_ppe].[GetDashboardStats]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [packyat6_mp_ppe].[GetDashboardStats]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Total bookings (current month)
    DECLARE @TotalBookings INT;
    DECLARE @TotalBookingsLastMonth INT;
    
    SELECT @TotalBookings = COUNT(*) 
    FROM Booking 
    WHERE MONTH(PickupDate) = MONTH(GETDATE()) 
    AND YEAR(PickupDate) = YEAR(GETDATE());
    
    SELECT @TotalBookingsLastMonth = COUNT(*) 
    FROM Booking 
    WHERE MONTH(PickupDate) = MONTH(DATEADD(MONTH, -1, GETDATE())) 
    AND YEAR(PickupDate) = YEAR(DATEADD(MONTH, -1, GETDATE()));
    
    -- Active tickets (using Status from Tickets table)
    DECLARE @ActiveTickets INT;
    DECLARE @ActiveTicketsYesterday INT;
    
    -- Count tickets that are not completed/cancelled
    SELECT @ActiveTickets = COUNT(*) 
    FROM Tickets 
    WHERE Status NOT IN ('Closed', 'Resolved', 'Cancelled', 'Completed');
    
    SELECT @ActiveTicketsYesterday = COUNT(*) 
    FROM Tickets 
    WHERE Status NOT IN ('Closed', 'Resolved', 'Cancelled', 'Completed')
    AND CAST(CreatedAt AS DATE) = CAST(DATEADD(DAY, -1, GETDATE()) AS DATE);
    
    -- Completed moves (using Booking Status)
    DECLARE @CompletedMoves INT;
    DECLARE @CompletedMovesLastMonth INT;
    
    SELECT @CompletedMoves = COUNT(*) 
    FROM Booking 
    WHERE Status = 'Completed' 
    AND MONTH(PickupDate) = MONTH(GETDATE())
    AND YEAR(PickupDate) = YEAR(GETDATE());
    
    SELECT @CompletedMovesLastMonth = COUNT(*) 
    FROM Booking 
    WHERE Status = 'Completed' 
    AND MONTH(PickupDate) = MONTH(DATEADD(MONTH, -1, GETDATE()))
    AND YEAR(PickupDate) = YEAR(DATEADD(MONTH, -1, GETDATE()));
    
    -- Total revenue
    DECLARE @TotalRevenue DECIMAL(10,2);
    DECLARE @TotalRevenueLastMonth DECIMAL(10,2);
    
    SELECT @TotalRevenue = ISNULL(SUM(TotalAmount), 0)
    FROM Booking 
    WHERE Status = 'Completed'
    AND MONTH(PickupDate) = MONTH(GETDATE())
    AND YEAR(PickupDate) = YEAR(GETDATE());
    
    SELECT @TotalRevenueLastMonth = ISNULL(SUM(TotalAmount), 0)
    FROM Booking 
    WHERE Status = 'Completed'
    AND MONTH(PickupDate) = MONTH(DATEADD(MONTH, -1, GETDATE()))
    AND YEAR(PickupDate) = YEAR(DATEADD(MONTH, -1, GETDATE()));
    
    -- New users without bookings (users who haven't made any booking)
    DECLARE @NewUsersWithoutBooking INT;
    
    SELECT @NewUsersWithoutBooking = COUNT(DISTINCT u.UserID)
    FROM Users u
    LEFT JOIN Booking b ON u.UserID = b.UserID
    WHERE b.BookingID IS NULL;
    
    -- Ticket status breakdown for priorities (using ticket status as priority indicator)
    DECLARE @HighPriorityTickets INT = (
        SELECT COUNT(*) 
        FROM Tickets 
        WHERE Status IN ('Pending', 'New', 'Urgent') 
    );
    
    DECLARE @MediumPriorityTickets INT = (
        SELECT COUNT(*) 
        FROM Tickets 
        WHERE Status IN ('In Progress', 'Assigned', 'Open') 
    );
    
    DECLARE @LowPriorityTickets INT = (
        SELECT COUNT(*) 
        FROM Tickets 
        WHERE Status IN ('Resolved', 'Closed', 'On Hold') 
    );
    
    -- Active vs total supervisors (using AssignedSupervisorID from Tickets)
    DECLARE @ActiveSupervisors INT;
    DECLARE @TotalSupervisors INT;
    
    -- Count unique supervisors from tickets created this month
    SELECT @ActiveSupervisors = COUNT(DISTINCT AssignedSupervisorID)
    FROM Tickets 
    WHERE AssignedSupervisorID IS NOT NULL
    AND MONTH(CreatedAt) = MONTH(GETDATE())
    AND YEAR(CreatedAt) = YEAR(GETDATE());
    
    -- Total unique supervisors ever assigned
    SELECT @TotalSupervisors = COUNT(DISTINCT AssignedSupervisorID)
    FROM Tickets 
    WHERE AssignedSupervisorID IS NOT NULL;
    
    -- Set defaults if no supervisor data
    IF @ActiveSupervisors IS NULL SET @ActiveSupervisors = 0;
    IF @TotalSupervisors IS NULL OR @TotalSupervisors = 0 SET @TotalSupervisors = 1;
    
    -- Calculate trends
    DECLARE @BookingTrend DECIMAL(5,2) = 
        CASE WHEN @TotalBookingsLastMonth > 0 
        THEN CAST((@TotalBookings - @TotalBookingsLastMonth) AS DECIMAL(10,2)) / @TotalBookingsLastMonth * 100
        ELSE 
            CASE WHEN @TotalBookings > 0 THEN 100.0 ELSE 0.0 END
        END;
    
    DECLARE @TicketTrend DECIMAL(5,2) = 
        CASE WHEN @ActiveTicketsYesterday > 0 
        THEN CAST((@ActiveTickets - @ActiveTicketsYesterday) AS DECIMAL(10,2)) / @ActiveTicketsYesterday * 100
        ELSE 
            CASE WHEN @ActiveTickets > 0 THEN 100.0 ELSE 0.0 END
        END;
    
    DECLARE @CompletedTrend DECIMAL(5,2) = 
        CASE WHEN @CompletedMovesLastMonth > 0 
        THEN CAST((@CompletedMoves - @CompletedMovesLastMonth) AS DECIMAL(10,2)) / @CompletedMovesLastMonth * 100
        ELSE 
            CASE WHEN @CompletedMoves > 0 THEN 100.0 ELSE 0.0 END
        END;
    
    DECLARE @RevenueTrend DECIMAL(5,2) = 
        CASE WHEN @TotalRevenueLastMonth > 0 
        THEN CAST((@TotalRevenue - @TotalRevenueLastMonth) AS DECIMAL(10,2)) / @TotalRevenueLastMonth * 100
        ELSE 
            CASE WHEN @TotalRevenue > 0 THEN 100.0 ELSE 0.0 END
        END;
    
    -- Return all stats
    SELECT 
        ISNULL(@TotalBookings, 0) AS TotalBookings,
        ISNULL(@ActiveTickets, 0) AS ActiveTickets,
        ISNULL(@CompletedMoves, 0) AS CompletedMoves,
        ISNULL(@TotalRevenue, 0) AS TotalRevenue,
        ISNULL(@NewUsersWithoutBooking, 0) AS NewUsersWithoutBooking,
        @ActiveSupervisors AS ActiveSupervisors,
        @TotalSupervisors AS TotalSupervisors,
        @HighPriorityTickets AS HighPriorityTickets,
        @MediumPriorityTickets AS MediumPriorityTickets,
        @LowPriorityTickets AS LowPriorityTickets,
        ISNULL(@BookingTrend, 0) AS BookingTrend,
        ISNULL(@TicketTrend, 0) AS TicketTrend,
        ISNULL(@CompletedTrend, 0) AS CompletedTrend,
        ISNULL(@RevenueTrend, 0) AS RevenueTrend,
        -- Calculate average resolution time from Tickets table
        CAST(
            ISNULL(
                AVG(DATEDIFF(DAY, CreatedAt, 
                    CASE 
                        WHEN Status IN ('Resolved', 'Closed', 'Completed') 
                        THEN ISNULL(UpdatedAt, GETDATE())
                        ELSE GETDATE()
                    END
                )), 2.4
            ) AS DECIMAL(5,1)
        ) AS AvgResolutionDays,
        '94%' AS CustomerSatisfaction, -- Default value
        -- Calculate average response time (time to first assignment)
        CAST(
            ISNULL(
                AVG(DATEDIFF(HOUR, CreatedAt, 
                    CASE 
                        WHEN AssignedSupervisorID IS NOT NULL 
                        THEN CreatedAt -- Assuming assigned immediately for calculation
                        ELSE GETDATE()
                    END
                )), 2.4
            ) AS DECIMAL(5,1)
        ) AS AvgResponseHours,
        GETDATE() AS LastUpdated
    FROM Tickets;
END
GO
/****** Object:  StoredProcedure [packyat6_mp_ppe].[GetMonthlyRevenueChart]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [packyat6_mp_ppe].[GetMonthlyRevenueChart]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Get revenue for current year
    WITH Months AS (
        SELECT 1 AS MonthNumber, 'January' AS MonthName
        UNION SELECT 2, 'February'
        UNION SELECT 3, 'March'
        UNION SELECT 4, 'April'
        UNION SELECT 5, 'May'
        UNION SELECT 6, 'June'
        UNION SELECT 7, 'July'
        UNION SELECT 8, 'August'
        UNION SELECT 9, 'September'
        UNION SELECT 10, 'October'
        UNION SELECT 11, 'November'
        UNION SELECT 12, 'December'
    )
    SELECT 
        m.MonthNumber,
        m.MonthName,
        ISNULL(SUM(b.TotalAmount), 0) AS Revenue,
        ISNULL(COUNT(b.BookingID), 0) AS BookingCount,
        -- Calculate average booking value
        CASE 
            WHEN COUNT(b.BookingID) > 0 
            THEN ISNULL(SUM(b.TotalAmount), 0) / COUNT(b.BookingID)
            ELSE 0
        END AS AvgBookingValue
    FROM Months m
    LEFT JOIN Booking b ON 
        MONTH(b.PickupDate) = m.MonthNumber 
        AND YEAR(b.PickupDate) = YEAR(GETDATE())
        AND b.Status IN ('Completed', 'Confirmed', 'In Progress')
    WHERE m.MonthNumber <= MONTH(GETDATE()) -- Only months up to current
    GROUP BY m.MonthNumber, m.MonthName
    ORDER BY m.MonthNumber;
END
GO
/****** Object:  StoredProcedure [packyat6_mp_ppe].[GetRecentBookingsWithDetails]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [packyat6_mp_ppe].[GetRecentBookingsWithDetails]
    @TopCount INT = 10
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP (@TopCount)
        b.BookingID,
        t.TicketID,
        t.TicketNo,
        u.Name AS UserName,
        u.Email AS UserEmail,
        u.PhoneNumber AS UserPhone,
        b.PickupDate,
        b.TotalAmount,
        b.Status AS BookingStatus,
        t.Status AS TicketStatus,
        t.FromLocation,
        t.ToLocation,
        t.CreatedAt AS TicketCreated,
        t.AssignedSupervisorID,
        -- Format dates
        FORMAT(b.PickupDate, 'dd-MMM-yyyy') AS FormattedPickupDate,
        CASE 
            WHEN t.CreatedAt IS NOT NULL 
            THEN FORMAT(t.CreatedAt, 'dd-MMM-yyyy HH:mm')
            ELSE 'No Ticket'
        END AS FormattedTicketDate,
        -- Calculate booking age
        DATEDIFF(DAY, b.PickupDate, GETDATE()) AS DaysSincePickup,
        -- Payment status
        CASE 
            WHEN b.BookingAmountPaid >= b.TotalAmount THEN 'Paid'
            WHEN b.BookingAmountPaid > 0 THEN 'Partially Paid'
            ELSE 'Unpaid'
        END AS PaymentStatus
    FROM Booking b
    INNER JOIN Users u ON b.UserID = u.UserID
    LEFT JOIN Tickets t ON b.BookingID = t.BookingID
    ORDER BY b.PickupDate DESC, t.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [packyat6_mp_ppe].[GetTicketStatusData]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [packyat6_mp_ppe].[GetTicketStatusData]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Get all ticket statuses and their counts
    SELECT 
        Status,
        COUNT(*) AS TicketCount
    FROM Tickets
    GROUP BY Status
    
    UNION ALL
    
    -- Get total tickets for last month
    SELECT 
        'Last Month' AS Status,
        COUNT(*) AS TicketCount
    FROM Tickets
    WHERE MONTH(CreatedAt) = MONTH(DATEADD(MONTH, -1, GETDATE()))
    AND YEAR(CreatedAt) = YEAR(DATEADD(MONTH, -1, GETDATE()))
    
    -- Ensure we always have data
    ORDER BY Status;
END
GO
/****** Object:  StoredProcedure [packyat6_mp_ppe].[sp_GetBookingDetails_ByQuotation]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [packyat6_mp_ppe].[sp_GetBookingDetails_ByQuotation]
    @QuotationNumber NVARCHAR(100)
AS
--EXEC sp_GetBookingDetails_ByQuotation  @QuotationNumber = 'PACKY-546';

BEGIN
    SET NOCOUNT ON;

    ----------------------------------------------------
    -- 1️⃣ Booking + User + Address + Slot Details
    ----------------------------------------------------
    SELECT 
        B.BookingID,
        B.QuotationNumber,
        B.PickupDate,
        B.Status,
        B.TotalAmount,
        B.BookingAmountPaid,
        B.TotalVolume,
        B.MovingType,
        B.IsQuotation,

        -- User Details
        U.UserID,
        U.Name AS CustomerName,
        U.PhoneNumber,
        U.Email,

        -- Address Details
        A.FromAddress,
        A.ToAddress,

        -- Time Slot
        T.SlotTime

    FROM Booking B
    LEFT JOIN Users U 
        ON B.UserID = U.UserID
    LEFT JOIN Address A 
        ON B.SourceAddressID = A.AddressID
    LEFT JOIN TimeSlot T 
        ON B.PickupTimeSlotID = T.SlotID
    WHERE B.QuotationNumber = @QuotationNumber;


    ----------------------------------------------------
    -- 2️⃣ Booking Items + Inventory Item Details
    ----------------------------------------------------
    SELECT 
        BI.BookingItemID,
        BI.BookingID,
        BI.ItemID,

        -- Inventory Item Details
        II.Name AS ItemName,
        II.Category,
        II.Description,
        II.SizeCFT,

        -- Booked Quantity
        BI.Quantity AS BookedQuantity

    FROM BookingItem BI
    INNER JOIN Booking B 
        ON BI.BookingID = B.BookingID
    LEFT JOIN InventoryItem II
        ON BI.ItemID = II.ItemID

    WHERE B.QuotationNumber = @QuotationNumber;

END
GO
/****** Object:  StoredProcedure [packyat6_mp_ppe].[sp_GetBookingDetailsByQuotation]    Script Date: 15-07-2026 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [packyat6_mp_ppe].[sp_GetBookingDetailsByQuotation]
    @QuotationNumber NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        -- Booking Details
        B.BookingID,
        B.QuotationNumber,
        B.PickupDate,
        B.Status,
        B.TotalAmount,
        B.BookingAmountPaid,
        B.TotalVolume,
        B.MovingType,
        B.IsQuotation,

        -- User Details
        U.UserID,
        U.Name AS CustomerName,
        U.PhoneNumber,
        U.Email,

        -- Address Details
        A.FromAddress,
        A.ToAddress,

        -- Time Slot
        T.SlotTime,

        -- Booking Items
        BI.BookingItemID,
        BI.ItemID,
        BI.Quantity

    FROM Booking B
    LEFT JOIN Users U 
        ON B.UserID = U.UserID

    LEFT JOIN Address A 
        ON B.SourceAddressID = A.AddressID

    LEFT JOIN TimeSlot T 
        ON B.PickupTimeSlotID = T.SlotID

    LEFT JOIN BookingItem BI 
        ON B.BookingID = BI.BookingID

    WHERE B.QuotationNumber = @QuotationNumber
END
GO
USE [master]
GO
